.App {
}

.Hero {
  background-image: url("./img/fruits_veggies_1152X866.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Hero-header {
  background-color: #282c34;
  padding: 0 2em;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Hero-header a {
  color: white;
}

.Hero-main {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
}

.Left-hero,
.Right-hero {
  max-width: 50%;
  width: 50%;
}
